body{
  margin: 0;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.classeuno{
  height: auto;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.homepage{
  height: 100vh;
  overflow: none;
}

.homepage-due{
  background-color: yellowgreen;
  height: 100vh;
}

.container-botton{
  height: 100px;
  position: relative;
  top: calc(100% - 180px);
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botton-medio{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.botton-left {
  background-color: black;
  height: 90px;
  width: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: black 3px 3px 10px;

}

.su{
  height: 40px;
  width: 80px;
  background-color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: black 3px 3px 10px;
}




@media ( max-width: 420px) {

  .homepage{
    height: calc(100vh - 108px);
    overflow: none;
  }
  
}